# **mahaNLP**

- **mahaNLP** is a python-based natural language processing library focused on the Indian language **Marathi**. It provides an easy interface for NLP features like sentiment analysis, named entity recognition, hate speech detection, etc. exclusively for Marathi text.
- **L3Cube**, the author of this library aims to bring Marathi to the forefront of IndicNLP. Our vision is to make Marathi a resource-rich language and promote AI for Maharashtra!

# **'How to use mahaNLP?'**

### installation

Library link (for reference): https://pypi.org/project/mahaNLP/

In [ ]:
pip install mahaNLP==0.6

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mahaNLP==0.6
  Downloading mahaNLP-0.6-py3-none-any.whl (34 kB)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.10/dist-packages (from mahaNLP==0.6) (5.12.0)
Collecting huggingface-hub==0.11.1 (from mahaNLP==0.6)
  Downloading huggingface_hub-0.11.1-py3-none-any.whl (182 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 182.4/182.4 kB 5.7 MB/s eta 0:00:00
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from mahaNLP==0.6) (4.65.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from mahaNLP==0.6) (1.5.3)
Collecting sentence-transformers (from mahaNLP==0.6)
  Downloading sentence-transformers-2.2.2.tar.gz (85 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 86.0/86.0 kB 10.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting transformers (from mahaNLP==0.6)
  Downloading transformers-4.29.2-py3-none-any.whl (7.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.1/7.1 MB 70.3 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from mahaNLP==0.6) (1.22.4)
Requirement already satisfied: torch in /usr/local/lib/python3.10/dist-packages (from mahaNLP==0.6) (2.0.1+cu118)
Requirement already satisfied: IPython in /usr/local/lib/python3.10/dist-packages (from mahaNLP==0.6) (7.34.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from huggingface-hub==0.11.1->mahaNLP==0.6) (3.12.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from huggingface-hub==0.11.1->mahaNLP==0.6) (2.27.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub==0.11.1->mahaNLP==0.6) (6.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub==0.11.1->mahaNLP==0.6) (4.5.0)
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub==0.11.1->mahaNLP==0.6) (23.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from IPython->mahaNLP==0.6) (67.7.2)
Collecting jedi>=0.16 (from IPython->mahaNLP==0.6)
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 65.6 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from IPython->mahaNLP==0.6) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from IPython->mahaNLP==0.6) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from IPython->mahaNLP==0.6) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from IPython->mahaNLP==0.6) (3.0.38)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from IPython->mahaNLP==0.6) (2.14.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from IPython->mahaNLP==0.6) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from IPython->mahaNLP==0.6) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from IPython->mahaNLP==0.6) (4.8.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->mahaNLP==0.6) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->mahaNLP==0.6) (2022.7.1)
Requirement already satisfied: torchvision in /usr/local/lib/python3.10/dist-packages (from sentence-transformers->mahaNLP==0.6) (0.15.2+cu118)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from sentence-transformers->mahaNLP==0.6) (1.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from sentence-transformers->mahaNLP==0.6) (1.10.1)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (from sentence-transformers->mahaNLP==0.6) (3.8.1)
Collecting sentencepiece (from sentence-transformers->mahaNLP==0.6)
  Downloading sentencepiece-0.1.99-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 54.2 MB/s eta 0:00:00
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch->mahaNLP==0.6) (1.11.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch->mahaNLP==0.6) (3.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch->mahaNLP==0.6) (3.1.2)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.10/dist-packages (from torch->mahaNLP==0.6) (2.0.0)
Requirement already satisfied: cmake in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch->mahaNLP==0.6) (3.25.2)
Requirement already satisfied: lit in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch->mahaNLP==0.6) (16.0.5)
INFO: pip is looking at multiple versions of transformers to determine which version is compatible with other requirements. This could take a while.
Collecting transformers (from mahaNLP==0.6)
  Downloading transformers-4.29.1-py3-none-any.whl (7.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.1/7.1 MB 80.6 MB/s eta 0:00:00
  Downloading transformers-4.29.0-py3-none-any.whl (7.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.1/7.1 MB 89.9 MB/s eta 0:00:00
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers->mahaNLP==0.6) (2022.10.31)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1 (from transformers->mahaNLP==0.6)
  Downloading tokenizers-0.13.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 88.8 MB/s eta 0:00:00
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->IPython->mahaNLP==0.6) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->IPython->mahaNLP==0.6) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->IPython->mahaNLP==0.6) (0.2.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->mahaNLP==0.6) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch->mahaNLP==0.6) (2.1.2)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk->sentence-transformers->mahaNLP==0.6) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk->sentence-transformers->mahaNLP==0.6) (1.2.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub==0.11.1->mahaNLP==0.6) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub==0.11.1->mahaNLP==0.6) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub==0.11.1->mahaNLP==0.6) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub==0.11.1->mahaNLP==0.6) (3.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->sentence-transformers->mahaNLP==0.6) (3.1.0)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch->mahaNLP==0.6) (1.3.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.10/dist-packages (from torchvision->sentence-transformers->mahaNLP==0.6) (8.4.0)
Building wheels for collected packages: sentence-transformers
  Building wheel for sentence-transformers (setup.py) ... done
  Created wheel for sentence-transformers: filename=sentence_transformers-2.2.2-py3-none-any.whl size=125926 sha256=9481a62438593310e3eb3748e548438e21fc1727d38e4891cf1611730bf55f55
  Stored in directory: /root/.cache/pip/wheels/62/f2/10/1e606fd5f02395388f74e7462910fe851042f97238cbbd902f
Successfully built sentence-transformers
Installing collected packages: tokenizers, sentencepiece, jedi, huggingface-hub, transformers, sentence-transformers, mahaNLP
Successfully installed huggingface-hub-0.11.1 jedi-0.18.2 mahaNLP-0.6 sentence-transformers-2.2.2 sentencepiece-0.1.99 tokenizers-0.13.3 transformers-4.29.0

#### import the library

In [ ]:
import mahaNLP

### **This library is customised to be used by an ML practitioner and a basic programmer.**

***
***

## **1. Basic Usage:**

This mode of access is designed from a basic programmer point of view and follow simpler way to perform the desired tasks.

### The below mentioned topics are explained in the following examples:

**a. Datasets:** Provides the functionality to load the dataset

**b. Autocomplete:** Text prediction

**c. Preprocess:** Data cleaning

**d. Tokenizer:** Tokenizes text

**e. Tagger:** Named entity recognision

**f. MaskFill:** Predicts the masked tokens

**g. Hate:** Detects hate speech

**h. Sentiment:** Sentiment analysis

**i. Similarity:** Detects similarity

***

### **a. Datasets**

#### import datasets

In [ ]:
from mahaNLP.datasets import *

#### loading the datasets

In [ ]:
# loads the dataframe into 'dataset'
dataset_1 = load_datasets('mahaSent')

In [ ]:
dataset_2 = load_datasets('mahaNER')

In [ ]:
dataset_3 = load_datasets('mahaHate')

/usr/local/lib/python3.10/dist-packages/pandas/util/_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)
/usr/local/lib/python3.10/dist-packages/pandas/util/_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)
/usr/local/lib/python3.10/dist-packages/pandas/util/_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)
/usr/local/lib/python3.10/dist-packages/pandas/util/_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)
/usr/local/lib/python3.10/dist-packages/pandas/util/_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)
/usr/local/lib/python3.10/dist-packages/pandas/util/_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

***

### **b. Autocomplete**

#### import

In [ ]:
from mahaNLP.autocomplete import TextGenerator

#### create an object

In [ ]:
model1 = TextGenerator()

### **Usage of autocomplete:**
It provides two functionalities
* **next_word:** Predicts the next word in the given sentence
* **complete_sentence:** Predicts the remanining blank words in the given sentence and completes a sentence.

#### **next_word:**

In [ ]:
# Example:

text1 = 'आपण आरोग्याची काळजी घेतली '
# English Translation:
# 'We take care of our health'

model1.next_word(text1)

                  generated_text
0  आपण आरोग्याची काळजी घेतली  हे

Optional Parameter(s):
* **num_of_predictions** (any number) in int - Default: 1
  * Used to pass the number of predictions to be made

In [ ]:
# Example:

model1.next_word(text1, num_of_predictions = 2)
# or
# model1.next_word(text1, 2)

                      generated_text
0  आपण आरोग्याची काळजी घेतली  पाहिजे
1  आपण आरोग्याची काळजी घेतली  पाहिजे

#### **complete_sentence:**

In [ ]:
# Example:

text2 = 'कडक उन्हाळ्यातून थंडगार पावसाळ्यात येताना, ऋतूमानातील बदल हा मानवी आरोग्यावरही परिणामकारक ठरतो. हवामानात होणार्‍या बदलांमुळे'
# English Translation:
# 'From hot summers to cooler monsoons, the change in climate also affects human health. Due to changes in climate'

model1.complete_sentence(text2)

                                                                                                                                                                                                                                               generated_text
0  कडक उन्हाळ्यातून थंडगार पावसाळ्यात येताना, ऋतूमानातील बदल हा मानवी आरोग्यावरही परिणामकारक ठरतो. हवामानात होणार्‍या बदलांमुळे ही या कालावधीत उष्माघात ाचा धोका अधिक वाढतो. अशा वेळी उष्माघात ाचा धोका बळा वतो. त्या अनुषंगाने हे आजार आटोक्यात आणायला हवेत.

Optional Parameter(s):
* **num_of_words** (any number) in int - Default: 25
  * Used to pass the number of words to be filled
* **num_of_predictions** (any number) in int - Default: 1
  * Used to pass the number of predictions to be made

In [ ]:
# Example:

model1.complete_sentence(text2, num_of_words = 10, num_of_predictions = 4)

                                                                                                                                                                                    generated_text
0  कडक उन्हाळ्यातून थंडगार पावसाळ्यात येताना, ऋतूमानातील बदल हा मानवी आरोग्यावरही परिणामकारक ठरतो. हवामानात होणार्‍या बदलांमुळे हवेतील दमट वातावरणाचा आरोग्यावर विपरीत परिणाम होताना दिसतो. तापमान
1            कडक उन्हाळ्यातून थंडगार पावसाळ्यात येताना, ऋतूमानातील बदल हा मानवी आरोग्यावरही परिणामकारक ठरतो. हवामानात होणार्‍या बदलांमुळे ही परिस्थिती ओढ वते. अशावेळी पाण्याचा निचरा होत असल्याने
2                   कडक उन्हाळ्यातून थंडगार पावसाळ्यात येताना, ऋतूमानातील बदल हा मानवी आरोग्यावरही परिणामकारक ठरतो. हवामानात होणार्‍या बदलांमुळे अनेक आजार होतात. या काळात उन्हाळ्यात बर्फ वितळ णे
3                                    कडक उन्हाळ्यातून थंडगार पावसाळ्यात येताना, ऋतूमानातील बदल हा मानवी आरोग्यावरही परिणामकारक ठरतो. हवामानात होणार्‍या बदलांमुळे, सर्दी - खोकला, ताप व सर्दी - पड

***

### **c. Preprocess**

#### import

In [ ]:
from mahaNLP.preprocess import Preprocess

#### create an object

In [ ]:
model2 = Preprocess()

### **Usage of preprocess:**
It provides three functionalities
* **remove_url:** Removes url from the text
* **remove_stopwords:** Removes stopwords from the text
* **remove_nondevnagari:** Removes the non-marathi characters

#### **remove_url:**

In [ ]:
# Example:

text3 = 'मी गुगल https://www.google.com/ वर शोधले कि भारतात जवळपास एकूण ८० टक्के लोकांचे बँकेत खाते आहे.'
# English Translation:
# 'I found on google https://www.google.com/ that almost 80 percent of total people in India have bank account.'

model2.remove_url(text3)

'मी गुगल  वर शोधले कि भारतात जवळपास एकूण ८० टक्के लोकांचे बँकेत खाते आहे.'

#### **remove_stopwords:**

In [ ]:
# stopwords like articles, prepositions, pronouns, conjunctions, etc.

# Example:

text4 = 'तीन दिवस झाले, पण गाडी अजून सापडली नाही. पोलिसांचा कडक तपास सुरु आहे.'
# English Translation:
# 'It's been three days, but the car is still not found. Strict investigation by the police is going on.'

model2.remove_stopwords(text4)

['दिवस', 'गाडी', 'अजून', 'सापडली', 'पोलिसांचा', 'कडक', 'तपास', 'सुरु']

#### **remove_nondevnagari:**

In [ ]:
# Example:

text5 = 'डाळी भारतीय थाळीमध्ये सामील असलेले मुख्य भोजन आहेत. US agriculture department, यु एस एग्रीकल्चर डिपार्टमेंट नुसार १०० ग्रॅम डाळ मध्ये 8 ते 9 ग्राम प्रोटीन असतात.'
# English Translation:
# 'Pulses are the staple food included in Indian Thali. According to the US agriculture department, 100 grams of dal contains 8-9 grams of protein.'

model2.remove_nondevnagari(text5)

डाळी भारतीय थाळीमध्ये सामील असलेले मुख्य भोजन आहेत.   , यु एस एग्रीकल्चर डिपार्टमेंट नुसार १०० ग्रॅम डाळ मध्ये 8 ते 9 ग्राम प्रोटीन असतात.

Optional Parameter(s):
* **en_num** (1, 0) in int - Default: 1
  * Decides whether to keep English numericals (1-yes, 0-no)

In [ ]:
# Example:

model2.remove_nondevnagari(text5, en_num = 0)

डाळी भारतीय थाळीमध्ये सामील असलेले मुख्य भोजन आहेत.   , यु एस एग्रीकल्चर डिपार्टमेंट नुसार १०० ग्रॅम डाळ मध्ये  ते  ग्राम प्रोटीन असतात.

***

### **d. Tokenizer**

#### import

In [ ]:
from mahaNLP.tokenizer import Tokenize

#### create an object

In [ ]:
model3 = Tokenize()

### **Usage of tokenizer:**
It provides two functionalities
* **word_tokenize:** Tokenizes words from sentences and stores them in an array
* **sentence_tokenize:** Tokenizes sentences from paragraph or set of sentences

#### **wordTokenize:**

In [ ]:
# Example:

text6 = 'तुमच्या भावनाही शरीर निरोगी ठेवण्यात महत्त्वाची भूमिका बजावतात!'
# English Translation:
# 'Your emotions also play an important role in keeping the body healthy!'

model3.word_tokenize(text6)

['तुमच्या',
 'भावनाही',
 'शरीर',
 'निरोगी',
 'ठेवण्यात',
 'महत्त्वाची',
 'भूमिका',
 'बजावतात',
 '!']

You can see the above example also tokenized the punctuation marks

Optional Parameter(s):
* **punctuation** (True, False) in bool - Default: True
  * Decides whether to tokenize punctuation marks (True-yes, False-no)

In [ ]:
# Example:

model3.word_tokenize(text6, punctuation = False)

['तुमच्या',
 'भावनाही',
 'शरीर',
 'निरोगी',
 'ठेवण्यात',
 'महत्त्वाची',
 'भूमिका',
 'बजावतात']

#### **sentence_tokenize:**

In [ ]:
# Example

text7 = 'पावसाळ्यात हवेत ओलावा असल्यामुळे फळे व भाज्यांवर धूळ व कचरा बसतो. त्यामुळे फळे व भाज्या स्वच्छ धुवून मगच खाव्यात! पावसाळ्यात रोगप्रतिकारक शक्ती कमी झालेली असते. त्यामुळे या दिवसांत शरीराला जास्त ताण देणारे व्यायाम केल्यास शरीरातील पित्त वाढते. पावसाळ्यात पोहणे, योगासने किंवा चालणे यांसारखे सोपे व्यायम करावेत.'
# English Translation:
# 'Due to moisture in the air during monsoons, dust and garbage settle on fruits and vegetables. So fruits and vegetables should be washed and then eaten! The immune system is reduced during monsoon. Therefore, during these days, doing exercises that put more stress on the body increases the pitta in the body. Simple exercises like swimming, yoga or walking should be done during monsoons.'

model3.sentence_tokenize(text7)

['पावसाळ्यात हवेत ओलावा असल्यामुळे फळे व भाज्यांवर धूळ व कचरा बसतो.',
 ' त्यामुळे फळे व भाज्या स्वच्छ धुवून मगच खाव्यात!',
 ' पावसाळ्यात रोगप्रतिकारक शक्ती कमी झालेली असते.',
 ' त्यामुळे या दिवसांत शरीराला जास्त ताण देणारे व्यायाम केल्यास शरीरातील पित्त वाढते.',
 ' पावसाळ्यात पोहणे, योगासने किंवा चालणे यांसारखे सोपे व्यायम करावेत.']

***

### **e. Tagger**

#### import

In [ ]:
from mahaNLP.tagger import EntityRecognizer

#### create an object

In [ ]:
model4 = EntityRecognizer()

### **Usage of tagger:**
It provides two functionalities
* **get_token_labels:** Prints token and entity label for each word
* **get_tokens:** Prints a string with all entity lables for the respective tokens in the text

#### **get_token_labels:**

In [ ]:
# Example:

text8 = 'भारताचे दुसरे राष्ट्रपती डॉ. सर्वपल्ली राधाकृष्णन यांचा जन्मदिवस म्हणजेच, ५ सप्टेंबर हा दिवस शिक्षक दिन म्हणून साजरा करण्यात येतो.'
# English Translation:
# 'Second President of India Dr. Sarvapalli Radhakrishnan's birthday i.e. 5th September is celebrated as Teachers' Day.'
model4.get_token_labels(text8)

          word entity_group
0      भारताचे     Location
1        दुसरे      Measure
2   राष्ट्रपती  Designation
3          डॉ.  Designation
4    सर्वपल्ली       Person
5   राधाकृष्णन       Person
6        यांचा        Other
7     जन्मदिवस        Other
8     म्हणजेच,        Other
9            ५         Date
10    सप्टेंबर         Date
11          हा        Other
12        दिवस        Other
13      शिक्षक        Other
14         दिन        Other
15      म्हणून        Other
16       साजरा        Other
17     करण्यात        Other
18       येतो.        Other

Optional Parameter(s):
* **details** (minimum, medium, all) in string - Default: minimum
  * Used to pass the detailedness to be considered like entity prediction score, start-end index of word, etc.
* **as_dict** (True, False) in boolean - Default: False
  * Used to define the print type

In [ ]:
model4.get_token_labels(text8, details = 'medium', as_dict = False)

          word entity_group     score
0      भारताचे     Location  0.990536
1        दुसरे      Measure  0.992870
2   राष्ट्रपती  Designation  0.872445
3          डॉ.  Designation  0.872445
4    सर्वपल्ली       Person  0.926757
5   राधाकृष्णन       Person  0.926757
6        यांचा        Other  0.999950
7     जन्मदिवस        Other  0.999950
8     म्हणजेच,        Other  0.999950
9            ५         Date  0.999657
10    सप्टेंबर         Date  0.999657
11          हा        Other  0.999919
12        दिवस        Other  0.999919
13      शिक्षक        Other  0.999919
14         दिन        Other  0.999919
15      म्हणून        Other  0.999919
16       साजरा        Other  0.999919
17     करण्यात        Other  0.999919
18       येतो.        Other  0.999919

In [ ]:
model4.get_token_labels(text8, details = 'all', as_dict = False)

          word entity_group     score  start  end
0      भारताचे     Location  0.990536      0    7
1        दुसरे      Measure  0.992870      8   13
2   राष्ट्रपती  Designation  0.872445     14   28
3          डॉ.  Designation  0.872445     14   28
4    सर्वपल्ली       Person  0.926757     29   49
5   राधाकृष्णन       Person  0.926757     29   49
6        यांचा        Other  0.999950     50   73
7     जन्मदिवस        Other  0.999950     50   73
8     म्हणजेच,        Other  0.999950     50   73
9            ५         Date  0.999657     74   84
10    सप्टेंबर         Date  0.999657     74   84
11          हा        Other  0.999919     85  130
12        दिवस        Other  0.999919     85  130
13      शिक्षक        Other  0.999919     85  130
14         दिन        Other  0.999919     85  130
15      म्हणून        Other  0.999919     85  130
16       साजरा        Other  0.999919     85  130
17     करण्यात        Other  0.999919     85  130
18       येतो.        Other  0.999919     85  130

In [ ]:
model4.get_token_labels(text8, details = 'all', as_dict = 'True')
# prints in dictionary form

[{'word': 'भारताचे',
  'entity_group': 'Location',
  'score': 0.99053555727005,
  'start': 0,
  'end': 7},
 {'word': 'दुसरे',
  'entity_group': 'Measure',
  'score': 0.9928703904151917,
  'start': 8,
  'end': 13},
 {'word': 'राष्ट्रपती',
  'entity_group': 'Designation',
  'score': 0.8724448084831238,
  'start': 14,
  'end': 28},
 {'word': 'डॉ.',
  'entity_group': 'Designation',
  'score': 0.8724448084831238,
  'start': 14,
  'end': 28},
 {'word': 'सर्वपल्ली',
  'entity_group': 'Person',
  'score': 0.9267566204071045,
  'start': 29,
  'end': 49},
 {'word': 'राधाकृष्णन',
  'entity_group': 'Person',
  'score': 0.9267566204071045,
  'start': 29,
  'end': 49},
 {'word': 'यांचा',
  'entity_group': 'Other',
  'score': 0.9999501705169678,
  'start': 50,
  'end': 73},
 {'word': 'जन्मदिवस',
  'entity_group': 'Other',
  'score': 0.9999501705169678,
  'start': 50,
  'end': 73},
 {'word': 'म्हणजेच,',
  'entity_group': 'Other',
  'score': 0.9999501705169678,
  'start': 50,
  'end': 73},
 {'word': '५',
  'entity_group': 'Date',
  'score': 0.9996570944786072,
  'start': 74,
  'end': 84},
 {'word': 'सप्टेंबर',
  'entity_group': 'Date',
  'score': 0.9996570944786072,
  'start': 74,
  'end': 84},
 {'word': 'हा',
  'entity_group': 'Other',
  'score': 0.9999191761016846,
  'start': 85,
  'end': 130},
 {'word': 'दिवस',
  'entity_group': 'Other',
  'score': 0.9999191761016846,
  'start': 85,
  'end': 130},
 {'word': 'शिक्षक',
  'entity_group': 'Other',
  'score': 0.9999191761016846,
  'start': 85,
  'end': 130},
 {'word': 'दिन',
  'entity_group': 'Other',
  'score': 0.9999191761016846,
  'start': 85,
  'end': 130},
 {'word': 'म्हणून',
  'entity_group': 'Other',
  'score': 0.9999191761016846,
  'start': 85,
  'end': 130},
 {'word': 'साजरा',
  'entity_group': 'Other',
  'score': 0.9999191761016846,
  'start': 85,
  'end': 130},
 {'word': 'करण्यात',
  'entity_group': 'Other',
  'score': 0.9999191761016846,
  'start': 85,
  'end': 130},
 {'word': 'येतो.',
  'entity_group': 'Other',
  'score': 0.9999191761016846,
  'start': 85,
  'end': 130}]

#### **get_tokens:**

In [ ]:
# Example:

model4.get_tokens(text8)

'Location Measure Designation Designation Person Person Other Other Other Date Date Other Other Other Other Other Other Other Other'

***

### **f. MaskFill:**

#### import

In [ ]:
from mahaNLP.mask_fill import MaskPredictor

#### create an object

In [ ]:
model5 = MaskPredictor()

### **Usage of maskFill:**
It provides one functionality
* **predict_mask:** Predicts the masked token

In [ ]:
# Example

# pass the string with the word to be predicted replaced with '[MASK]'
text9 = 'मी महाराष्ट्रात [MASK].'
# English Translation:
# 'I in Maharashtra [MASK]'

model5.predict_mask(text9)

  token_str                 sequence
0       आहे     मी महाराष्ट्रात आहे.
1    राहणार  मी महाराष्ट्रात राहणार.
2      नाही    मी महाराष्ट्रात नाही.
3       ##च        मी महाराष्ट्रातच.
4     राहतो   मी महाराष्ट्रात राहतो.

Optional Parameter(s):
* **details** (minimum, medium, all) in string - Default: minimum
  * Used to pass the detailedness to be considered
* **as_dict** (True, False) in boolean - Default: False
  * Used to define the print type

In [ ]:
model5.predict_mask(text9, details = 'medium', as_dict = False)

  token_str     score                 sequence
0       आहे  0.465607     मी महाराष्ट्रात आहे.
1    राहणार  0.079688  मी महाराष्ट्रात राहणार.
2      नाही  0.074000    मी महाराष्ट्रात नाही.
3       ##च  0.050423        मी महाराष्ट्रातच.
4     राहतो  0.043737   मी महाराष्ट्रात राहतो.

In [ ]:
model5.predict_mask(text9, 'all', False)

      score  token token_str                 sequence
0  0.465607   1155       आहे     मी महाराष्ट्रात आहे.
1  0.079688  92222    राहणार  मी महाराष्ट्रात राहणार.
2  0.074000   1826      नाही    मी महाराष्ट्रात नाही.
3  0.050423   1617       ##च        मी महाराष्ट्रातच.
4  0.043737  62560     राहतो   मी महाराष्ट्रात राहतो.

In [ ]:
# Print as dictionary
model5.predict_mask(text9, 'all', True)

[{'score': 0.4656066596508026,
  'token': 1155,
  'token_str': 'आहे',
  'sequence': 'मी महाराष्ट्रात आहे.'},
 {'score': 0.07968812435865402,
  'token': 92222,
  'token_str': 'राहणार',
  'sequence': 'मी महाराष्ट्रात राहणार.'},
 {'score': 0.07400033622980118,
  'token': 1826,
  'token_str': 'नाही',
  'sequence': 'मी महाराष्ट्रात नाही.'},
 {'score': 0.05042285844683647,
  'token': 1617,
  'token_str': '##च',
  'sequence': 'मी महाराष्ट्रातच.'},
 {'score': 0.043737005442380905,
  'token': 62560,
  'token_str': 'राहतो',
  'sequence': 'मी महाराष्ट्रात राहतो.'}]

***

### **g. Hate**

#### import

In [ ]:
from mahaNLP.hate import HateAnalyzer

#### create an object

In [ ]:
model6 = HateAnalyzer()

In [ ]:
# list the labels supported
model6.list_supported_labels()

Supported labels:
	 hate -> 1
	 non-hate -> 0

### **Usage of hate:**
It provides one functionality
* **get_hate_score:** Gives the hate score of a sentence. It gives the scores as hate (1) and non-hate (0)

In [ ]:
# Example:

text10 = 'ती मूर्ख आहे. मला ती आवडत नाही.'
# English Translation:
# 'She is stupid. I don't like her.'

model6.get_hate_score(text10)

  label     score
0  hate  0.966924

In [ ]:
# Example:

text11 = 'मला तुझे खूप कौतुक वाटते.'
# English Translation:
# 'I appreciate you so much.'

model6.get_hate_score(text11)

      label     score
0  non-hate  0.999377

***

### **h. Sentiment**

#### import

In [ ]:
from mahaNLP.sentiment import SentimentAnalyzer

#### create an object

In [ ]:
model7 = SentimentAnalyzer()

In [ ]:
# list the lables supported
model7.list_supported_labels()

Supported labels:
 -Positive
 -Negative
 -Neutral

### **Usage of sentiment:**
It provides one functionality
* **get_polarity_score:** Gives the polarity score of words in a sentence along with the tokens (Neutral, Positive, Negative)

In [ ]:
# Example:

text12 = 'दिवाळीच्या सणादरम्यान सगळे आनंदी असतात.'
# English Translation:
# 'Everyone is happy during Diwali festival.'

model7.get_polarity_score(text12)

      label     score
0  Positive  0.995338

In [ ]:
# Example:

text13 = 'मी तुझा तिरस्कार करते.'
# English Translation:
# 'I hate you.'

model7.get_polarity_score(text13)

     label     score
0  Neutral  0.989352

In [ ]:
# Example:

text14 = 'मी कॉलेजला जात आहे.'
# English Translation:
# 'I am going to college.'

model7.get_polarity_score(text14)

     label     score
0  Neutral  0.993329

***

### **i. Similarity**

#### import

In [ ]:
from mahaNLP.similarity import SimilarityAnalyzer

#### create an object

In [ ]:
model8 = SimilarityAnalyzer()

### **Usage of similarity:**
It provides two functionalities
* **embed_sentences:** Embeds the sentences and return the values in an array
* **get_similarity_score:** Checks the similarity of a sentence with respect to array of sentences

#### **embed_sentences:**

In [ ]:
# Example

text15 = 'भारतात एकूण २८ राज्ये आहेत.'
# English Translation:
# 'There are total 28 states in India.'

model8.embed_sentences(text15)

array([-3.01300567e-02,  5.90831414e-03, -1.33653842e-02, -3.19638290e-02,
        1.86218917e-02, -4.54362668e-02, -4.17430000e-03, -1.99699700e-02,
        3.58055066e-03,  6.32557552e-03,  8.54484085e-03, -4.28140257e-03,
       -2.65210052e-03, -2.75102090e-02, -4.76910640e-03, -1.02574527e-02,
        1.45057738e-02, -2.26347074e-02,  1.03825964e-02,  1.66710522e-02,
        1.12478454e-02, -1.54640013e-02,  1.83427520e-02, -7.28147337e-03,
        3.23612755e-03, -7.66732628e-05, -2.73413304e-02, -7.00747129e-03,
       -1.96131580e-02,  1.76331459e-03, -1.34859337e-02, -6.28395798e-03,
        7.86420703e-03,  6.67924574e-03, -1.99246481e-02, -7.11166300e-03,
        1.37242489e-02,  4.83197346e-03,  1.89735764e-03,  1.25255464e-02,
       -2.43624533e-03, -3.05463821e-02, -5.00232819e-03,  1.55041367e-02,
       -6.46519475e-03,  3.41299572e-04, -1.23329228e-03,  2.16220673e-02,
        8.16373341e-03, -1.91043632e-03, -1.46023333e-02,  3.50541994e-03,
        1.29642710e-02, -1.31144281e-02, -1.07188849e-02,  6.13190280e-03,
        1.57648530e-02,  1.49627067e-02, -8.68066773e-03,  8.70533939e-03,
        2.02721264e-03, -1.04711084e-02, -3.13782208e-02,  8.12012423e-03,
        1.86757650e-02, -2.37665828e-02,  1.68768745e-02,  1.86287612e-02,
        5.38041582e-03, -1.64038818e-02,  1.82129424e-02, -3.06159863e-03,
       -1.36264302e-02, -1.37237029e-03, -2.08050385e-02, -2.17535887e-02,
        4.09565959e-03, -2.18795333e-03,  2.38251667e-02, -7.78459886e-04,
        8.39470048e-03,  6.64879475e-03, -4.71074920e-04, -1.31823670e-03,
        4.67980169e-02,  1.38628250e-02, -1.40459388e-02, -7.31589366e-03,
       -8.53210222e-03,  1.02604227e-02,  1.39796529e-02, -7.38808769e-04,
        1.52945006e-02, -2.30120216e-02, -5.92223741e-03,  2.89008021e-02,
       -1.05706165e-02, -5.85502125e-02,  8.75737797e-03,  2.83687450e-02,
       -2.77393265e-03, -6.92070054e-04, -1.43744675e-02, -7.93470070e-03,
        9.78245400e-03,  3.90987843e-03, -8.96375161e-03,  1.04735279e-03,
       -1.68775562e-02, -1.14353199e-03, -2.11837459e-02,  1.41877392e-02,
       -2.88327094e-02,  1.32410973e-02, -3.15350364e-03, -6.60709385e-03,
       -1.81566016e-03,  3.65666370e-03, -7.90643599e-03, -2.48122844e-03,
        3.74473408e-02, -7.60902371e-03, -1.64395161e-02, -7.73811946e-03,
        5.42662013e-03, -6.12250157e-03,  5.78614371e-03,  3.22829857e-02,
       -8.73410329e-03, -1.07156411e-02,  2.41189450e-02, -1.13051226e-02,
        7.06660561e-03, -2.10517701e-02,  8.64951313e-03, -1.07456027e-02,
       -5.31350728e-03, -1.93835516e-02, -3.23520810e-03,  1.87288336e-02,
        6.24930859e-03, -2.20635068e-03,  2.40044412e-03, -3.70709924e-04,
       -8.10144655e-03, -2.61169989e-02, -2.74008955e-03,  3.89310834e-03,
       -1.62401106e-02,  7.72353262e-04, -7.89663102e-03,  1.69366915e-02,
       -2.06134957e-03,  6.27972465e-03, -3.60580608e-02, -1.65324137e-02,
        2.61243470e-02, -3.32334405e-03,  1.92946494e-02, -1.75731592e-02,
       -5.80233196e-03,  3.87423113e-02, -1.57048198e-04,  1.81754678e-02,
        7.39019969e-03,  4.74238815e-03,  7.72051839e-03, -9.33596864e-03,
        3.10207810e-02,  1.66415367e-02,  3.07551622e-02,  5.44882193e-03,
        1.91004965e-02,  1.01934858e-02, -1.34223057e-02,  1.39273740e-02,
        3.23650357e-03, -4.07274859e-03, -8.36974359e-04, -2.70107221e-02,
       -3.93888494e-03,  1.58594716e-02,  1.38497213e-02, -1.43317897e-02,
        1.36467684e-02,  5.63269854e-03,  5.98637434e-03, -1.14387805e-02,
        1.28081720e-02,  1.39406165e-02, -1.83685753e-03,  2.37052701e-02,
        1.07621364e-02,  2.21172418e-03,  1.40940743e-02,  3.71910492e-03,
       -3.26684862e-02, -1.04478411e-02,  1.56309716e-02,  5.50477114e-03,
       -9.24829580e-03, -2.82028574e-03,  5.35641564e-04, -2.00675381e-03,
        2.05834620e-02, -3.77388997e-03,  1.71750300e-02, -1.00417798e-02,
       -1.05264066e-02, -6.66322326e-03, -5.86904399e-03, -4.71705757e-03,
       -2.00132523e-02, -1.78187098e-02,  5.58415521e-03,  7.57336337e-03,
       -1.67107582e-02, -1.30010757e-03, -1.49274189e-02,  3.50551819e-03,
        2.17670351e-02, -1.67797953e-02,  3.83339380e-03, -1.05553754e-02,
       -2.35121120e-02,  2.08909332e-04, -3.39195575e-03, -1.86632425e-02,
        2.64606774e-02,  6.08105026e-03,  9.50834341e-03,  1.72959939e-02,
       -1.90124735e-02,  1.02615152e-02,  3.19077447e-02,  1.16296867e-02,
       -1.04003679e-02, -1.07591329e-02, -5.22280438e-03, -7.83951487e-03,
       -2.10185517e-02,  3.65024284e-02, -2.43752170e-03, -7.85904378e-03,
       -9.43526719e-03, -2.06877254e-02,  4.29566158e-03, -1.19257439e-02,
        1.45899421e-02,  2.81834695e-03, -8.95560067e-03,  9.80569981e-03,
        6.91806339e-03, -9.91333649e-03,  9.81487683e-05, -1.75190046e-02,
       -1.44562277e-03,  9.32446122e-03,  1.28548862e-02, -5.05371392e-03,
       -2.35051699e-02,  9.83045087e-04, -1.95382014e-02,  1.78223662e-02,
       -9.21748951e-03,  1.47577683e-02, -6.65485580e-03, -3.82754463e-03,
       -2.12943573e-02,  4.55991039e-03,  2.39620497e-03, -2.66811587e-02,
        3.33867483e-02,  1.18107814e-03, -8.40934459e-03, -2.35186443e-02,
        1.17391143e-02, -2.09729816e-03,  2.12101974e-02,  1.30233662e-02,
        5.20479633e-03,  4.58413083e-03, -1.06222183e-02,  5.80319483e-03,
        8.34929664e-03, -5.98841067e-03,  2.53006443e-02, -2.03151652e-03,
       -5.21425810e-03, -1.70673858e-02,  1.18642217e-02, -8.61734618e-03,
       -1.26698930e-02, -2.00788048e-03,  1.58148184e-02,  1.90217851e-03,
        2.31811292e-02,  1.74661807e-03,  1.12167438e-02, -1.44134823e-03,
       -9.30211972e-03, -1.46288686e-02, -5.37519902e-03, -1.51128722e-02,
       -6.52607577e-03, -1.84238926e-02,  1.16902757e-02, -1.10544739e-02,
        6.47493219e-03,  8.24404135e-03,  2.25995556e-02,  1.12281519e-03,
        2.79650297e-02, -1.09998053e-02, -2.39875019e-02,  6.61455840e-03,
       -2.13238411e-03, -1.07544120e-02, -1.44521073e-02,  8.23264383e-03,
       -6.24397211e-03,  1.00773452e-02, -1.72209064e-03,  7.03164041e-02,
        2.26020627e-02, -1.87014379e-02,  9.41382442e-03, -2.26891926e-03,
       -8.50850530e-03,  2.18220335e-03, -5.21362294e-03, -2.49598920e-02,
       -1.95235712e-03,  8.72646458e-03,  2.24973977e-04,  2.50084121e-02,
        1.09973140e-02,  2.34574173e-02,  1.75530557e-03, -7.50083569e-03,
       -1.20159052e-02, -2.25395244e-02,  3.14263906e-03,  8.86609592e-03,
        1.39705110e-02, -5.49423881e-03,  1.06051681e-03, -7.56043708e-04,
        6.75426843e-03,  3.88717372e-03, -4.17592004e-02, -1.21613974e-02,
        1.72176231e-02, -2.00801026e-02,  1.64938439e-02,  3.24597210e-02,
        1.27258059e-03,  2.64031510e-03,  1.64149683e-02, -1.65665913e-02,
        1.38497306e-02, -1.34747904e-02, -1.70683097e-02, -7.75010500e-04,
       -7.62506574e-03,  1.06168846e-02, -8.30881670e-03, -1.63614433e-02,
       -8.31434038e-03, -5.89036802e-03, -4.56706807e-03,  4.10308316e-03,
       -5.28457761e-03, -2.16052844e-03, -8.41693580e-03, -1.98922139e-02,
       -5.73335215e-03, -2.97826412e-03, -1.58060119e-02,  6.83034724e-03,
       -6.80320244e-03, -2.68580224e-02,  2.66475603e-04, -1.20156643e-03,
       -4.36740275e-03,  2.58185286e-02,  1.46681378e-02, -1.91858131e-02,
        5.36356634e-03, -3.59885441e-03, -8.10728502e-03, -2.03213170e-02,
       -1.30788274e-02, -1.97040546e-03,  2.97905654e-02, -8.12922698e-03,
        4.82294988e-03,  3.26284231e-03, -5.63285314e-03, -2.42652055e-02,
       -2.56951433e-02, -1.05881244e-02,  1.37404930e-02, -3.08426050e-03,
       -9.66538209e-03, -5.70280338e-03,  3.73372715e-03,  2.99664419e-02,
        2.30270959e-02,  2.61647962e-02,  6.24329224e-03, -1.58823933e-02,
       -7.67878164e-03, -2.34378837e-02,  1.97630213e-03,  3.83257167e-03,
       -1.64743874e-03, -1.29566388e-02,  2.37314980e-02, -2.19344497e-02,
        6.77843438e-03, -3.21579911e-03,  4.07669321e-03,  1.10282293e-02,
       -2.01006196e-02, -1.91606558e-03,  2.48767231e-02,  1.03208981e-02,
        9.56634246e-03,  1.29272393e-03,  1.51434797e-04,  2.52911486e-02,
        1.55032901e-02, -1.83340926e-02, -2.37570982e-02, -2.01135837e-02,
        3.22717405e-03,  1.25111891e-02, -3.53140570e-03,  1.99056547e-02,
       -1.10834958e-02,  8.20708403e-04, -1.71925016e-02, -1.46573968e-03,
        2.32204981e-02, -4.31600772e-03, -3.10518872e-02,  1.21611692e-02,
        2.51019420e-03, -1.27003891e-02,  3.91936488e-03, -8.34067073e-03,
       -4.12001163e-02,  2.64251307e-02, -2.23739818e-02,  1.53114125e-02,
       -8.00363068e-03,  4.03148495e-03, -6.09059352e-04,  1.20638600e-02,
       -8.32260214e-03,  3.14436443e-02,  5.42647438e-03,  3.54678323e-03,
        6.54091965e-03, -4.42248397e-03, -1.59549937e-02,  8.70790053e-03,
       -1.13972742e-02, -4.96648811e-03,  5.19420544e-04, -5.11824433e-03,
        2.90488196e-03,  1.43197197e-02, -2.15492118e-03,  4.40999959e-03,
       -7.72806909e-03,  1.00093763e-02,  1.39529640e-02,  1.97348539e-02,
        2.92346557e-03,  2.31071073e-03,  2.28686687e-02, -1.32424217e-02,
        4.46878234e-03, -2.24520732e-02,  1.26555851e-02,  1.26668802e-02,
        2.51053218e-02,  1.66570093e-03,  1.62841100e-02,  4.91092168e-03,
        1.18311001e-02,  3.06226313e-03, -4.41729762e-02,  6.44658273e-03,
        3.77441710e-03, -4.45346115e-03,  2.51483754e-03, -9.54747107e-03,
        5.07295644e-03,  9.58894845e-03, -9.64017212e-03, -1.29908137e-02,
        1.25605324e-02, -6.00945577e-03, -4.05536741e-02, -8.90581775e-03,
        4.75800969e-03, -1.29225040e-02, -1.31087331e-02, -2.99636764e-03,
        2.67905910e-02, -8.39134678e-03, -1.71411857e-02,  1.17618619e-02,
        3.46101169e-03, -1.04996590e-02,  1.91917680e-02,  1.60048436e-02,
       -1.26531757e-02, -9.30885039e-03, -8.85535404e-03,  3.47554241e-03,
       -8.06654338e-03, -7.09112128e-03, -1.45569956e-02, -8.53008684e-03,
       -5.50549431e-03, -1.11811999e-02,  1.39078991e-02, -1.78972203e-02,
       -5.37264068e-03, -7.95114972e-03,  1.66612130e-03,  1.49714928e-02,
       -2.29896046e-03, -3.51317925e-03, -1.34335458e-02, -1.89827774e-02,
        5.65612735e-03, -6.13900879e-03, -1.35030868e-02, -2.06421688e-02,
       -3.99334989e-02, -7.07364921e-03,  1.32413581e-03,  3.05913240e-02,
       -9.25755687e-03,  1.17319794e-02,  1.67940892e-02,  2.27046618e-03,
        4.21515331e-02,  8.95134523e-04,  4.53621009e-03, -2.27014348e-02,
       -1.70505699e-02, -6.69908768e-04, -2.95234565e-03, -1.20119983e-02,
       -3.03255673e-03, -5.08836284e-03,  1.16614308e-02, -7.95295835e-03,
       -6.87583862e-03, -8.76113307e-03,  1.59097724e-02, -4.99887904e-03,
        7.86298607e-03, -1.07486523e-03, -2.52840705e-02,  1.73652954e-02,
       -1.19469278e-02, -3.15723708e-03, -3.18114087e-02, -5.91686170e-04,
       -1.77470334e-02, -6.21764511e-02,  2.17336435e-02,  2.50397865e-02,
        1.11514870e-02, -3.27469297e-02,  3.57396454e-02, -9.02441330e-03,
       -1.27898678e-02, -1.43719018e-02, -2.80508120e-03,  1.96212791e-02,
       -1.33930845e-03, -5.71801793e-03,  4.31844592e-03,  4.44456702e-03,
        1.84682310e-02,  9.90218855e-03, -1.22834202e-02,  2.90954928e-03,
        1.11034410e-02,  1.16471425e-02, -6.29853643e-03, -7.61907594e-03,
        1.22876773e-02,  1.49465376e-03,  2.51777247e-02, -6.27732463e-03,
       -6.30162656e-04,  3.11643947e-02, -1.33118276e-02,  2.01808251e-02,
        2.35714689e-02,  2.90486263e-03, -2.32108925e-02, -1.14355255e-02,
        2.43298169e-02,  2.64594657e-03, -1.36404093e-02,  1.72139090e-02,
        2.78569758e-03, -1.99184213e-02, -1.02488697e-02, -1.62941981e-02,
        1.39606214e-04, -1.38764884e-02, -1.59546174e-02,  1.71408672e-02,
       -4.28702775e-03,  3.97856394e-03, -2.13087369e-02, -4.46565187e-04,
        9.97365732e-03, -5.33423969e-04, -7.81101780e-03, -1.03362948e-02,
        2.32493076e-02,  2.53358949e-03,  1.06881596e-02, -2.75757611e-02,
        3.05546052e-03,  1.20836301e-02,  2.55078729e-03, -2.64085666e-03,
        1.18886549e-02,  1.65476985e-02, -1.50255878e-02, -1.35924844e-02,
        6.30688807e-03,  2.13904008e-02,  1.28482061e-03,  2.58356091e-02,
        1.88110434e-02, -9.25006717e-03,  4.92773950e-03,  1.25913462e-02,
       -1.53622851e-02, -1.30425813e-02,  2.58008502e-02,  2.26189289e-02,
        9.28014237e-03,  1.91216785e-02,  1.08732004e-02, -6.55537192e-03,
        2.28530224e-02, -4.78427112e-03,  5.64280199e-03, -5.65334270e-03,
       -4.90860664e-04, -3.22095230e-02,  2.43367394e-05,  1.82267372e-02,
        6.36831298e-03,  2.40061134e-02,  1.80955902e-02,  1.81316794e-03,
        2.65917219e-02, -1.02234036e-02, -2.56279651e-02, -5.13049029e-03,
        1.09303920e-02, -1.27968295e-02,  9.69257485e-03,  1.76790189e-02,
        1.44254672e-03, -6.05858117e-03, -2.89139058e-02, -1.32559566e-02,
       -7.05092493e-03, -2.23880913e-03, -1.88185484e-03,  1.28575712e-02,
       -5.90165332e-03, -1.04621686e-02, -1.81798637e-02,  8.95336177e-03,
        8.05972796e-03, -1.66233480e-02,  2.88753752e-02,  2.69940961e-02,
        1.93423722e-02, -4.08307975e-03,  4.58932435e-03, -1.18301436e-02,
       -1.46909561e-02, -1.16073724e-03,  2.01492710e-03, -1.39601883e-02,
        1.46909989e-02,  7.47408019e-03,  1.28439926e-02,  5.91197424e-03,
        6.19409233e-03, -1.85675826e-02,  1.62065178e-02,  3.00651789e-02,
        9.27971769e-03, -1.05103394e-02,  5.09447977e-03, -1.12338341e-04,
        1.16246771e-02,  4.33592238e-02,  6.43806858e-03, -3.87382042e-03,
       -2.10319571e-02, -3.44374441e-02,  1.10652894e-02, -6.04627375e-03,
       -1.20555256e-02,  2.49228980e-02, -6.58341497e-03, -1.27568729e-02,
        6.28885254e-03,  1.43585894e-02,  1.13199186e-02,  1.54524483e-02,
       -1.88142527e-03,  1.09161260e-02,  2.53680337e-04,  5.61841205e-03,
       -3.67084611e-03, -9.13179666e-03, -3.68264341e-03, -1.66544504e-03,
        5.78228896e-03,  1.98325142e-06, -2.71640904e-02,  3.18495966e-02,
        6.25977339e-03,  6.11360231e-03, -2.89459899e-02,  1.64688006e-02,
        6.17533736e-03,  1.75410472e-02,  2.47646496e-02, -1.63277320e-03,
       -1.83101837e-03,  1.62396356e-02, -1.26726767e-02, -1.03971874e-02,
       -1.69838425e-02,  1.63755901e-02,  1.68589856e-02,  7.78541202e-03,
       -5.80566237e-04,  4.29578824e-03, -1.49363782e-02, -1.92048121e-02,
       -4.44946159e-03,  2.57898495e-02, -2.06551533e-02, -5.76212583e-03],
      dtype=float32)

#### **get_similarity_score:**

In [ ]:
# Example

textsource = 'वसई तालुक्यातील 15 ग्रामपंचायतींसाठी निवडणूक होत आहे.'
# English Translation:
# 'Elections are being held for 15 gram panchayats in Vasai taluka.'
textsentences = ['वसई तालुक्यातील 15 ग्रामपंचायतींसाठी निवडणूक होत आहे.', '28 ते 2 डिसेंबर पर्यंत उमेदवारी अर्ज भरण्याची वेळ असून आज आणि उध्या दोन दिवसात ऑफलाईन उमेदवारी अर्ज भरण्यासाठी 5 वाजेपर्यंत वेळ वाढवून दिला आहे.', 'त्यामुळे आज दिवसभरात उमेदवारांनी आपले उमेदवारी अर्ज भरण्यासाठी तहसील कार्यालयात गर्दी केली होती.']
# English Translation:
# [
# 'Elections are being held for 15 gram panchayats in Vasai taluka.',
# 'The time to fill candidature form is from 28th to 2nd December and the time for filling offline candidature form has been extended till 5 pm today and tomorrow.',
# 'Therefore, candidates thronged the tehsil office to fill their nomination forms today.'
# ]

model8.get_similarity_score(textsource, textsentences)

array([0.99999994, 0.24566299, 0.30104446], dtype=float32)

Optional Parameter(s):
* **as_dict** (True, False) in boolean - Default: False
  * Used to define the print type

In [ ]:
model8.get_similarity_score(textsource, textsentences, as_dict = True)

{'वसई तालुक्यातील 15 ग्रामपंचायतींसाठी निवडणूक होत आहे.': 0.99999994,
 '28 ते 2 डिसेंबर पर्यंत उमेदवारी अर्ज भरण्याची वेळ असून आज आणि उध्या दोन दिवसात ऑफलाईन उमेदवारी अर्ज भरण्यासाठी 5 वाजेपर्यंत वेळ वाढवून दिला आहे.': 0.24566299,
 'त्यामुळे आज दिवसभरात उमेदवारांनी आपले उमेदवारी अर्ज भरण्यासाठी तहसील कार्यालयात गर्दी केली होती.': 0.30104446}

***
***

## **2. Advanced Usage:**

This way of accessing the library is designed from an ML Practitioners point of view and has more flexibility to choose a model for the desired task.

## The below mentioned models are explained in the examples following:
* **MaskFill Model:** Predicts the masked tokens
* **GPT Model:** Text prediction
* **Hate Model:** Detects hate speech
* **NER Model:** Named entity recognision
* **Sentiment Model:** Sentiment analysis
* **Similarity Model:** Detects similarity

Some of the mentioned models have sub models within them that can be seen using the **listModels()** function as described in the examples

***

#### import the models

In [ ]:
from mahaNLP.model_repo import MaskFillModel, GPTModel, HateModel, NERModel, SentimentModel, SimilarityModel

Here, we are accessing the functionalities via modelRepo

***

## **MaskFill Model**:

In [ ]:
# create an object
modelMaskFill = MaskFillModel() # this loads with default model. Here, marathi-bert-v2

In [ ]:
# list models present in it
modelMaskFill.list_models()

 mask_fill models:
	 marathi-bert-v2 :  l3cube-pune/marathi-bert-v2
	 marathi-roberta :  l3cube-pune/marathi-roberta
	 marathi-albert :  l3cube-pune/marathi-albert

 similarity models:
	 marathi-sentence-similarity-sbert :  l3cube-pune/marathi-sentence-similarity-sbert
	 marathi-sentence-bert-nli :  l3cube-pune/marathi-sentence-bert-nli

 tagger models:
	 marathi-ner :  l3cube-pune/marathi-ner

 sentiment models:
	 MarathiSentiment :  l3cube-pune/MarathiSentiment

 autocomplete models:
	 marathi-gpt :  l3cube-pune/marathi-gpt

 hate models:
	 mahahate-bert :  l3cube-pune/mahahate-bert
	 mahahate-multi-roberta :  l3cube-pune/mahahate-multi-roberta

#### **To change the default model:**
Pass the name of the model as the argument:

modelMaskFill = MaskFillModel('name of model')

In [ ]:
# Example:

modelMaskFill2 = MaskFillModel('marathi-roberta')

### **Usage of MaskFillModel:**
It provides one functionality
* **predict_mask:** Predicts the masked token

In [ ]:
# Example:

# pass the string with the word to be predicted replaced with '[MASK]' for marathi-bert-v2, marathi-albert
# and '<mask>' for marathi-roberta

txt1 = 'मी महाराष्ट्रात [MASK].'
# English Translation:
# 'I in Maharashtra [MASK]'

modelMaskFill.predict_mask(txt1)

  token_str                 sequence
0       आहे     मी महाराष्ट्रात आहे.
1    राहणार  मी महाराष्ट्रात राहणार.
2      नाही    मी महाराष्ट्रात नाही.
3       ##च        मी महाराष्ट्रातच.
4     राहतो   मी महाराष्ट्रात राहतो.

Optional Parameter(s):
* **details** (minimum, medium, all) in string - Default: minimum
  * Used to pass the detailedness to be considered
* **as_dict** (True, False) in boolean - Default: False
  * Used to define the print type

In [ ]:
# Example:

modelMaskFill.predict_mask(txt1, details = 'medium', as_dict = False)

  token_str     score                 sequence
0       आहे  0.465607     मी महाराष्ट्रात आहे.
1    राहणार  0.079688  मी महाराष्ट्रात राहणार.
2      नाही  0.074000    मी महाराष्ट्रात नाही.
3       ##च  0.050423        मी महाराष्ट्रातच.
4     राहतो  0.043737   मी महाराष्ट्रात राहतो.

In [ ]:
modelMaskFill.predict_mask(txt1, 'all', False)

      score  token token_str                 sequence
0  0.465607   1155       आहे     मी महाराष्ट्रात आहे.
1  0.079688  92222    राहणार  मी महाराष्ट्रात राहणार.
2  0.074000   1826      नाही    मी महाराष्ट्रात नाही.
3  0.050423   1617       ##च        मी महाराष्ट्रातच.
4  0.043737  62560     राहतो   मी महाराष्ट्रात राहतो.

In [ ]:
# Print as dictionary
modelMaskFill.predict_mask(txt1, 'all', True)

[{'score': 0.4656066596508026,
  'token': 1155,
  'token_str': 'आहे',
  'sequence': 'मी महाराष्ट्रात आहे.'},
 {'score': 0.07968812435865402,
  'token': 92222,
  'token_str': 'राहणार',
  'sequence': 'मी महाराष्ट्रात राहणार.'},
 {'score': 0.07400033622980118,
  'token': 1826,
  'token_str': 'नाही',
  'sequence': 'मी महाराष्ट्रात नाही.'},
 {'score': 0.05042285844683647,
  'token': 1617,
  'token_str': '##च',
  'sequence': 'मी महाराष्ट्रातच.'},
 {'score': 0.043737005442380905,
  'token': 62560,
  'token_str': 'राहतो',
  'sequence': 'मी महाराष्ट्रात राहतो.'}]

***

## **GPT Model**:

In [ ]:
# create an object
modelGPT = GPTModel()

In [ ]:
# list models present in it
modelGPT.list_models()

 autocomplete models:
	 marathi-gpt :  l3cube-pune/marathi-gpt

 similarity models:
	 marathi-sentence-similarity-sbert :  l3cube-pune/marathi-sentence-similarity-sbert
	 marathi-sentence-bert-nli :  l3cube-pune/marathi-sentence-bert-nli

 tagger models:
	 marathi-ner :  l3cube-pune/marathi-ner

 sentiment models:
	 MarathiSentiment :  l3cube-pune/MarathiSentiment

 mask_fill models:
	 marathi-bert-v2 :  l3cube-pune/marathi-bert-v2
	 marathi-roberta :  l3cube-pune/marathi-roberta
	 marathi-albert :  l3cube-pune/marathi-albert

 hate models:
	 mahahate-bert :  l3cube-pune/mahahate-bert
	 mahahate-multi-roberta :  l3cube-pune/mahahate-multi-roberta

### **Usage of GPT Model:**
It provides two functionalities
* **next_word:** Predicts the next word in the given sentence
* **complete_sentence:** Predicts the remanining blank words in the given sentence and completes a sentence.

#### **next_word:**

In [ ]:
# Example:

txt2 = 'मला शाळेत जायला '
# English Translation:
# 'I want to go to school '

modelGPT.next_word(txt2)

          generated_text
0  मला शाळेत जायला  उशीर

Optional Parameter(s):
* **num_of_predictions** (any number) in int - Default: 1
  * Used to pass the number of predictions to be made

In [ ]:
# Example:

modelGPT.next_word(txt2, num_of_predictions = 4)

              generated_text
0  मला शाळेत जायला  सांगितलं
1  मला शाळेत जायला  सांगितलं
2     मला शाळेत जायला  आवडेल
3      मला शाळेत जायला  बंदी

#### **complete_sentence:**

In [ ]:
# Example:

txt3 = 'आज खूप पाऊस'
# English Translation:
# 'A lot of rain today'

modelGPT.complete_sentence(txt3)

                                                                                                                                generated_text
0  आज खूप पाऊस पडला आणि आता पाऊस पडला नाही तर शेतकरी जग णार नाही त्यामुळे शेतकरी पुन्हा संकटात सापडला आहे. त्यामुळे शेतकरी हतबल झाले आहेत. आता

Optional Parameter(s):
* **num_of_words** (any number) in int - Default: 25
  * Used to pass the number of words to be filled
* **num_of_predictions** (any number) in int - Default: 1
  * Used to pass the number of predictions to be made

In [ ]:
# Example:

modelGPT.complete_sentence(txt3, num_of_words = 10, num_of_predictions = 4)

                                               generated_text
0        आज खूप पाऊस झाला. पण एक दिवस त्याने तो फोटो पाहून तर
1   आज खूप पाऊस झाला, आज पुन्हा पावसाची शक्यता आहे. आता मात्र
2  आज खूप पाऊस पडणार आहे. या दोन्ही जिल्ह्यात मिळून एकूण 2 13
3            आज खूप पाऊस पडेल, असं मला वाटून गेलं. पण हे सगळे

***

## **Hate Model:**

In [ ]:
# create an object
modelHate = HateModel()

In [ ]:
# list models present in it
modelHate.list_models() # this loads with default model. Here, mahahate-bert

 hate models:
	 mahahate-bert :  l3cube-pune/mahahate-bert
	 mahahate-multi-roberta :  l3cube-pune/mahahate-multi-roberta

 similarity models:
	 marathi-sentence-similarity-sbert :  l3cube-pune/marathi-sentence-similarity-sbert
	 marathi-sentence-bert-nli :  l3cube-pune/marathi-sentence-bert-nli

 sentiment models:
	 MarathiSentiment :  l3cube-pune/MarathiSentiment

 mask_fill models:
	 marathi-bert-v2 :  l3cube-pune/marathi-bert-v2
	 marathi-roberta :  l3cube-pune/marathi-roberta
	 marathi-albert :  l3cube-pune/marathi-albert

 autocomplete models:
	 marathi-gpt :  l3cube-pune/marathi-gpt

 tagger models:
	 marathi-ner :  l3cube-pune/marathi-ner

#### **To change the default model:**
Pass the name of the model as the argument:

modelHate = HateModel('name of model')

In [ ]:
# Example:

modelHate2 = HateModel('mahahate-multi-roberta')

### **Usage of HateModel:**
It provides one functionality
* **get_hate_score:** Gives the hate score of a sentence. It gives the scores as hate (1) and non-hate (0)

In [ ]:
# Example:

txt4 = 'ती मूर्ख आहे. मला ती आवडत नाही.'
# English Translation:
# 'She is stupid. I don't like her.'

modelHate.get_hate_score(txt4)

  label     score
0  hate  0.966924

In [ ]:
# Example
txt5 = 'मला तुझे खूप कौतुक वाटते.'
# English Translation:
# 'I appreciate you so much.'

modelHate.get_hate_score(txt5)

      label     score
0  non-hate  0.999377

***

## **NER Model:**

In [ ]:
# create an object:
modelNER = NERModel()

In [ ]:
# list models present in it
modelNER.list_models()

 tagger models:
	 marathi-ner :  l3cube-pune/marathi-ner

 similarity models:
	 marathi-sentence-similarity-sbert :  l3cube-pune/marathi-sentence-similarity-sbert
	 marathi-sentence-bert-nli :  l3cube-pune/marathi-sentence-bert-nli

 sentiment models:
	 MarathiSentiment :  l3cube-pune/MarathiSentiment

 mask_fill models:
	 marathi-bert-v2 :  l3cube-pune/marathi-bert-v2
	 marathi-roberta :  l3cube-pune/marathi-roberta
	 marathi-albert :  l3cube-pune/marathi-albert

 autocomplete models:
	 marathi-gpt :  l3cube-pune/marathi-gpt

 hate models:
	 mahahate-bert :  l3cube-pune/mahahate-bert
	 mahahate-multi-roberta :  l3cube-pune/mahahate-multi-roberta

### **Usage of NER Model:**
It provides two functionalities
* **get_token_labels:** Gives the polarity score of words in a sentence along with the tokens
* **get_tokens:** Gives tokens for each word

#### **get_token_labels:**

In [ ]:
# Example

txt6 = '१७ तारखेला आदित्य पुण्यात आला.'
# English Translation:
# 'Aditya came to Pune on 17th.'

modelNER.get_token_labels(txt6)

      word entity_group
0       १७         Date
1  तारखेला        Other
2   आदित्य       Person
3  पुण्यात     Location
4     आला.        Other

Optional Parameter(s):
* **details** (minimum, medium, all) in string - Default: minimum
  * Used to pass the detailedness to be considered
* **as_dict** (True, False) in boolean - Default: False
  * Used to define the print type

In [ ]:
# Example:

modelNER.get_token_labels(txt6, details = 'medium', as_dict = False)
# prints the polarity score of the individual words as well

      word entity_group     score
0       १७         Date  0.997312
1  तारखेला        Other  0.999764
2   आदित्य       Person  0.999070
3  पुण्यात     Location  0.997783
4     आला.        Other  0.999862

In [ ]:
modelNER.get_token_labels(txt6, details = 'all', as_dict = False)
# prints the start as well as the end index for the individual word

      word entity_group     score  start  end
0       १७         Date  0.997312      0    2
1  तारखेला        Other  0.999764      3   10
2   आदित्य       Person  0.999070     11   17
3  पुण्यात     Location  0.997783     18   25
4     आला.        Other  0.999862     26   30

In [ ]:
modelNER.get_token_labels(txt6, details = 'all', as_dict = True)
# prints in dictionary form

[{'word': '१७',
  'entity_group': 'Date',
  'score': 0.9973124265670776,
  'start': 0,
  'end': 2},
 {'word': 'तारखेला',
  'entity_group': 'Other',
  'score': 0.9997643828392029,
  'start': 3,
  'end': 10},
 {'word': 'आदित्य',
  'entity_group': 'Person',
  'score': 0.9990702271461487,
  'start': 11,
  'end': 17},
 {'word': 'पुण्यात',
  'entity_group': 'Location',
  'score': 0.997783362865448,
  'start': 18,
  'end': 25},
 {'word': 'आला.',
  'entity_group': 'Other',
  'score': 0.9998623132705688,
  'start': 26,
  'end': 30}]

#### **get_tokens:**

In [ ]:
# Example:

txt7 = 'मेघा आणि लता ४ तारखेला महाबळेश्वरला जाणार आहे.'
# English Translation:
# 'Megha and Lata will go to Mahabaleshwar on 4th.'

modelNER.get_tokens(txt7)

'Person Other Person Date Other Location Other Other'

***

## **Sentiment:**

In [ ]:
# create an object
modelSentiment = SentimentModel()

In [ ]:
# list models present in it
modelSentiment.list_models()

 sentiment models:
	 MarathiSentiment :  l3cube-pune/MarathiSentiment

 similarity models:
	 marathi-sentence-similarity-sbert :  l3cube-pune/marathi-sentence-similarity-sbert
	 marathi-sentence-bert-nli :  l3cube-pune/marathi-sentence-bert-nli

 tagger models:
	 marathi-ner :  l3cube-pune/marathi-ner

 mask_fill models:
	 marathi-bert-v2 :  l3cube-pune/marathi-bert-v2
	 marathi-roberta :  l3cube-pune/marathi-roberta
	 marathi-albert :  l3cube-pune/marathi-albert

 autocomplete models:
	 marathi-gpt :  l3cube-pune/marathi-gpt

 hate models:
	 mahahate-bert :  l3cube-pune/mahahate-bert
	 mahahate-multi-roberta :  l3cube-pune/mahahate-multi-roberta

### **Usage of Sentiment Model:**
It provides one functionality
* **get_polarity_score:** Gives the polarity score of words in a sentence along with the tokens (Neutral, Positive, Negative)

In [ ]:
# Example:

txt8 = 'दिवाळीच्या सणादरम्यान सगळे आनंदी असतात.'
# English Translation:
# 'Everyone is happy during Diwali festival.'

modelSentiment.get_polarity_score(txt8)

      label     score
0  Positive  0.995338

In [ ]:
# Example:

txt9 = 'मी तुझा तिरस्कार करतो.'
# English Translation:
# 'I hate you.'

modelSentiment.get_polarity_score(txt9)

     label     score
0  Neutral  0.989352

In [ ]:
# Example:

txt10 = 'मी कॉलेजला जात आहे.'
# English Translation:
# 'I am going to college.'

modelSentiment.get_polarity_score(txt10)

     label     score
0  Neutral  0.993329

***

## **Similarity Model:**

In [ ]:
# create an object
modelSimilarity = SimilarityModel() # this loads with default model. Here, marathi-sentence-similarity-sbert

In [ ]:
# list models present in it
modelSimilarity.list_models()

 similarity models:
	 marathi-sentence-similarity-sbert :  l3cube-pune/marathi-sentence-similarity-sbert
	 marathi-sentence-bert-nli :  l3cube-pune/marathi-sentence-bert-nli

 tagger models:
	 marathi-ner :  l3cube-pune/marathi-ner

 sentiment models:
	 MarathiSentiment :  l3cube-pune/MarathiSentiment

 mask_fill models:
	 marathi-bert-v2 :  l3cube-pune/marathi-bert-v2
	 marathi-roberta :  l3cube-pune/marathi-roberta
	 marathi-albert :  l3cube-pune/marathi-albert

 autocomplete models:
	 marathi-gpt :  l3cube-pune/marathi-gpt

 hate models:
	 mahahate-bert :  l3cube-pune/mahahate-bert
	 mahahate-multi-roberta :  l3cube-pune/mahahate-multi-roberta

#### **To change the default model:**
Pass the name of the model as the argument:

modelSimilarity = SimilarityModel('name of model')

In [ ]:
# Example:

modelSimilarity2 = SimilarityModel('marathi-sentence-bert-nli')

### **Usage of Similarity Model:**
It provides two functionalities
* **embed_sentences:** Embeds the sentences and return the values in an array
* **get_similarity_score:** Checks the similarity of a word with respect to a sentence

#### **embed_sentences:**

In [ ]:
# Example

txt11 = 'भारतात एकूण २८ राज्ये आहेत.'
# English Translation:
# 'There are total 28 states in India.'

modelSimilarity.embed_sentences(txt11)

array([-3.01300567e-02,  5.90831414e-03, -1.33653842e-02, -3.19638290e-02,
        1.86218917e-02, -4.54362668e-02, -4.17430000e-03, -1.99699700e-02,
        3.58055066e-03,  6.32557552e-03,  8.54484085e-03, -4.28140257e-03,
       -2.65210052e-03, -2.75102090e-02, -4.76910640e-03, -1.02574527e-02,
        1.45057738e-02, -2.26347074e-02,  1.03825964e-02,  1.66710522e-02,
        1.12478454e-02, -1.54640013e-02,  1.83427520e-02, -7.28147337e-03,
        3.23612755e-03, -7.66732628e-05, -2.73413304e-02, -7.00747129e-03,
       -1.96131580e-02,  1.76331459e-03, -1.34859337e-02, -6.28395798e-03,
        7.86420703e-03,  6.67924574e-03, -1.99246481e-02, -7.11166300e-03,
        1.37242489e-02,  4.83197346e-03,  1.89735764e-03,  1.25255464e-02,
       -2.43624533e-03, -3.05463821e-02, -5.00232819e-03,  1.55041367e-02,
       -6.46519475e-03,  3.41299572e-04, -1.23329228e-03,  2.16220673e-02,
        8.16373341e-03, -1.91043632e-03, -1.46023333e-02,  3.50541994e-03,
        1.29642710e-02, -1.31144281e-02, -1.07188849e-02,  6.13190280e-03,
        1.57648530e-02,  1.49627067e-02, -8.68066773e-03,  8.70533939e-03,
        2.02721264e-03, -1.04711084e-02, -3.13782208e-02,  8.12012423e-03,
        1.86757650e-02, -2.37665828e-02,  1.68768745e-02,  1.86287612e-02,
        5.38041582e-03, -1.64038818e-02,  1.82129424e-02, -3.06159863e-03,
       -1.36264302e-02, -1.37237029e-03, -2.08050385e-02, -2.17535887e-02,
        4.09565959e-03, -2.18795333e-03,  2.38251667e-02, -7.78459886e-04,
        8.39470048e-03,  6.64879475e-03, -4.71074920e-04, -1.31823670e-03,
        4.67980169e-02,  1.38628250e-02, -1.40459388e-02, -7.31589366e-03,
       -8.53210222e-03,  1.02604227e-02,  1.39796529e-02, -7.38808769e-04,
        1.52945006e-02, -2.30120216e-02, -5.92223741e-03,  2.89008021e-02,
       -1.05706165e-02, -5.85502125e-02,  8.75737797e-03,  2.83687450e-02,
       -2.77393265e-03, -6.92070054e-04, -1.43744675e-02, -7.93470070e-03,
        9.78245400e-03,  3.90987843e-03, -8.96375161e-03,  1.04735279e-03,
       -1.68775562e-02, -1.14353199e-03, -2.11837459e-02,  1.41877392e-02,
       -2.88327094e-02,  1.32410973e-02, -3.15350364e-03, -6.60709385e-03,
       -1.81566016e-03,  3.65666370e-03, -7.90643599e-03, -2.48122844e-03,
        3.74473408e-02, -7.60902371e-03, -1.64395161e-02, -7.73811946e-03,
        5.42662013e-03, -6.12250157e-03,  5.78614371e-03,  3.22829857e-02,
       -8.73410329e-03, -1.07156411e-02,  2.41189450e-02, -1.13051226e-02,
        7.06660561e-03, -2.10517701e-02,  8.64951313e-03, -1.07456027e-02,
       -5.31350728e-03, -1.93835516e-02, -3.23520810e-03,  1.87288336e-02,
        6.24930859e-03, -2.20635068e-03,  2.40044412e-03, -3.70709924e-04,
       -8.10144655e-03, -2.61169989e-02, -2.74008955e-03,  3.89310834e-03,
       -1.62401106e-02,  7.72353262e-04, -7.89663102e-03,  1.69366915e-02,
       -2.06134957e-03,  6.27972465e-03, -3.60580608e-02, -1.65324137e-02,
        2.61243470e-02, -3.32334405e-03,  1.92946494e-02, -1.75731592e-02,
       -5.80233196e-03,  3.87423113e-02, -1.57048198e-04,  1.81754678e-02,
        7.39019969e-03,  4.74238815e-03,  7.72051839e-03, -9.33596864e-03,
        3.10207810e-02,  1.66415367e-02,  3.07551622e-02,  5.44882193e-03,
        1.91004965e-02,  1.01934858e-02, -1.34223057e-02,  1.39273740e-02,
        3.23650357e-03, -4.07274859e-03, -8.36974359e-04, -2.70107221e-02,
       -3.93888494e-03,  1.58594716e-02,  1.38497213e-02, -1.43317897e-02,
        1.36467684e-02,  5.63269854e-03,  5.98637434e-03, -1.14387805e-02,
        1.28081720e-02,  1.39406165e-02, -1.83685753e-03,  2.37052701e-02,
        1.07621364e-02,  2.21172418e-03,  1.40940743e-02,  3.71910492e-03,
       -3.26684862e-02, -1.04478411e-02,  1.56309716e-02,  5.50477114e-03,
       -9.24829580e-03, -2.82028574e-03,  5.35641564e-04, -2.00675381e-03,
        2.05834620e-02, -3.77388997e-03,  1.71750300e-02, -1.00417798e-02,
       -1.05264066e-02, -6.66322326e-03, -5.86904399e-03, -4.71705757e-03,
       -2.00132523e-02, -1.78187098e-02,  5.58415521e-03,  7.57336337e-03,
       -1.67107582e-02, -1.30010757e-03, -1.49274189e-02,  3.50551819e-03,
        2.17670351e-02, -1.67797953e-02,  3.83339380e-03, -1.05553754e-02,
       -2.35121120e-02,  2.08909332e-04, -3.39195575e-03, -1.86632425e-02,
        2.64606774e-02,  6.08105026e-03,  9.50834341e-03,  1.72959939e-02,
       -1.90124735e-02,  1.02615152e-02,  3.19077447e-02,  1.16296867e-02,
       -1.04003679e-02, -1.07591329e-02, -5.22280438e-03, -7.83951487e-03,
       -2.10185517e-02,  3.65024284e-02, -2.43752170e-03, -7.85904378e-03,
       -9.43526719e-03, -2.06877254e-02,  4.29566158e-03, -1.19257439e-02,
        1.45899421e-02,  2.81834695e-03, -8.95560067e-03,  9.80569981e-03,
        6.91806339e-03, -9.91333649e-03,  9.81487683e-05, -1.75190046e-02,
       -1.44562277e-03,  9.32446122e-03,  1.28548862e-02, -5.05371392e-03,
       -2.35051699e-02,  9.83045087e-04, -1.95382014e-02,  1.78223662e-02,
       -9.21748951e-03,  1.47577683e-02, -6.65485580e-03, -3.82754463e-03,
       -2.12943573e-02,  4.55991039e-03,  2.39620497e-03, -2.66811587e-02,
        3.33867483e-02,  1.18107814e-03, -8.40934459e-03, -2.35186443e-02,
        1.17391143e-02, -2.09729816e-03,  2.12101974e-02,  1.30233662e-02,
        5.20479633e-03,  4.58413083e-03, -1.06222183e-02,  5.80319483e-03,
        8.34929664e-03, -5.98841067e-03,  2.53006443e-02, -2.03151652e-03,
       -5.21425810e-03, -1.70673858e-02,  1.18642217e-02, -8.61734618e-03,
       -1.26698930e-02, -2.00788048e-03,  1.58148184e-02,  1.90217851e-03,
        2.31811292e-02,  1.74661807e-03,  1.12167438e-02, -1.44134823e-03,
       -9.30211972e-03, -1.46288686e-02, -5.37519902e-03, -1.51128722e-02,
       -6.52607577e-03, -1.84238926e-02,  1.16902757e-02, -1.10544739e-02,
        6.47493219e-03,  8.24404135e-03,  2.25995556e-02,  1.12281519e-03,
        2.79650297e-02, -1.09998053e-02, -2.39875019e-02,  6.61455840e-03,
       -2.13238411e-03, -1.07544120e-02, -1.44521073e-02,  8.23264383e-03,
       -6.24397211e-03,  1.00773452e-02, -1.72209064e-03,  7.03164041e-02,
        2.26020627e-02, -1.87014379e-02,  9.41382442e-03, -2.26891926e-03,
       -8.50850530e-03,  2.18220335e-03, -5.21362294e-03, -2.49598920e-02,
       -1.95235712e-03,  8.72646458e-03,  2.24973977e-04,  2.50084121e-02,
        1.09973140e-02,  2.34574173e-02,  1.75530557e-03, -7.50083569e-03,
       -1.20159052e-02, -2.25395244e-02,  3.14263906e-03,  8.86609592e-03,
        1.39705110e-02, -5.49423881e-03,  1.06051681e-03, -7.56043708e-04,
        6.75426843e-03,  3.88717372e-03, -4.17592004e-02, -1.21613974e-02,
        1.72176231e-02, -2.00801026e-02,  1.64938439e-02,  3.24597210e-02,
        1.27258059e-03,  2.64031510e-03,  1.64149683e-02, -1.65665913e-02,
        1.38497306e-02, -1.34747904e-02, -1.70683097e-02, -7.75010500e-04,
       -7.62506574e-03,  1.06168846e-02, -8.30881670e-03, -1.63614433e-02,
       -8.31434038e-03, -5.89036802e-03, -4.56706807e-03,  4.10308316e-03,
       -5.28457761e-03, -2.16052844e-03, -8.41693580e-03, -1.98922139e-02,
       -5.73335215e-03, -2.97826412e-03, -1.58060119e-02,  6.83034724e-03,
       -6.80320244e-03, -2.68580224e-02,  2.66475603e-04, -1.20156643e-03,
       -4.36740275e-03,  2.58185286e-02,  1.46681378e-02, -1.91858131e-02,
        5.36356634e-03, -3.59885441e-03, -8.10728502e-03, -2.03213170e-02,
       -1.30788274e-02, -1.97040546e-03,  2.97905654e-02, -8.12922698e-03,
        4.82294988e-03,  3.26284231e-03, -5.63285314e-03, -2.42652055e-02,
       -2.56951433e-02, -1.05881244e-02,  1.37404930e-02, -3.08426050e-03,
       -9.66538209e-03, -5.70280338e-03,  3.73372715e-03,  2.99664419e-02,
        2.30270959e-02,  2.61647962e-02,  6.24329224e-03, -1.58823933e-02,
       -7.67878164e-03, -2.34378837e-02,  1.97630213e-03,  3.83257167e-03,
       -1.64743874e-03, -1.29566388e-02,  2.37314980e-02, -2.19344497e-02,
        6.77843438e-03, -3.21579911e-03,  4.07669321e-03,  1.10282293e-02,
       -2.01006196e-02, -1.91606558e-03,  2.48767231e-02,  1.03208981e-02,
        9.56634246e-03,  1.29272393e-03,  1.51434797e-04,  2.52911486e-02,
        1.55032901e-02, -1.83340926e-02, -2.37570982e-02, -2.01135837e-02,
        3.22717405e-03,  1.25111891e-02, -3.53140570e-03,  1.99056547e-02,
       -1.10834958e-02,  8.20708403e-04, -1.71925016e-02, -1.46573968e-03,
        2.32204981e-02, -4.31600772e-03, -3.10518872e-02,  1.21611692e-02,
        2.51019420e-03, -1.27003891e-02,  3.91936488e-03, -8.34067073e-03,
       -4.12001163e-02,  2.64251307e-02, -2.23739818e-02,  1.53114125e-02,
       -8.00363068e-03,  4.03148495e-03, -6.09059352e-04,  1.20638600e-02,
       -8.32260214e-03,  3.14436443e-02,  5.42647438e-03,  3.54678323e-03,
        6.54091965e-03, -4.42248397e-03, -1.59549937e-02,  8.70790053e-03,
       -1.13972742e-02, -4.96648811e-03,  5.19420544e-04, -5.11824433e-03,
        2.90488196e-03,  1.43197197e-02, -2.15492118e-03,  4.40999959e-03,
       -7.72806909e-03,  1.00093763e-02,  1.39529640e-02,  1.97348539e-02,
        2.92346557e-03,  2.31071073e-03,  2.28686687e-02, -1.32424217e-02,
        4.46878234e-03, -2.24520732e-02,  1.26555851e-02,  1.26668802e-02,
        2.51053218e-02,  1.66570093e-03,  1.62841100e-02,  4.91092168e-03,
        1.18311001e-02,  3.06226313e-03, -4.41729762e-02,  6.44658273e-03,
        3.77441710e-03, -4.45346115e-03,  2.51483754e-03, -9.54747107e-03,
        5.07295644e-03,  9.58894845e-03, -9.64017212e-03, -1.29908137e-02,
        1.25605324e-02, -6.00945577e-03, -4.05536741e-02, -8.90581775e-03,
        4.75800969e-03, -1.29225040e-02, -1.31087331e-02, -2.99636764e-03,
        2.67905910e-02, -8.39134678e-03, -1.71411857e-02,  1.17618619e-02,
        3.46101169e-03, -1.04996590e-02,  1.91917680e-02,  1.60048436e-02,
       -1.26531757e-02, -9.30885039e-03, -8.85535404e-03,  3.47554241e-03,
       -8.06654338e-03, -7.09112128e-03, -1.45569956e-02, -8.53008684e-03,
       -5.50549431e-03, -1.11811999e-02,  1.39078991e-02, -1.78972203e-02,
       -5.37264068e-03, -7.95114972e-03,  1.66612130e-03,  1.49714928e-02,
       -2.29896046e-03, -3.51317925e-03, -1.34335458e-02, -1.89827774e-02,
        5.65612735e-03, -6.13900879e-03, -1.35030868e-02, -2.06421688e-02,
       -3.99334989e-02, -7.07364921e-03,  1.32413581e-03,  3.05913240e-02,
       -9.25755687e-03,  1.17319794e-02,  1.67940892e-02,  2.27046618e-03,
        4.21515331e-02,  8.95134523e-04,  4.53621009e-03, -2.27014348e-02,
       -1.70505699e-02, -6.69908768e-04, -2.95234565e-03, -1.20119983e-02,
       -3.03255673e-03, -5.08836284e-03,  1.16614308e-02, -7.95295835e-03,
       -6.87583862e-03, -8.76113307e-03,  1.59097724e-02, -4.99887904e-03,
        7.86298607e-03, -1.07486523e-03, -2.52840705e-02,  1.73652954e-02,
       -1.19469278e-02, -3.15723708e-03, -3.18114087e-02, -5.91686170e-04,
       -1.77470334e-02, -6.21764511e-02,  2.17336435e-02,  2.50397865e-02,
        1.11514870e-02, -3.27469297e-02,  3.57396454e-02, -9.02441330e-03,
       -1.27898678e-02, -1.43719018e-02, -2.80508120e-03,  1.96212791e-02,
       -1.33930845e-03, -5.71801793e-03,  4.31844592e-03,  4.44456702e-03,
        1.84682310e-02,  9.90218855e-03, -1.22834202e-02,  2.90954928e-03,
        1.11034410e-02,  1.16471425e-02, -6.29853643e-03, -7.61907594e-03,
        1.22876773e-02,  1.49465376e-03,  2.51777247e-02, -6.27732463e-03,
       -6.30162656e-04,  3.11643947e-02, -1.33118276e-02,  2.01808251e-02,
        2.35714689e-02,  2.90486263e-03, -2.32108925e-02, -1.14355255e-02,
        2.43298169e-02,  2.64594657e-03, -1.36404093e-02,  1.72139090e-02,
        2.78569758e-03, -1.99184213e-02, -1.02488697e-02, -1.62941981e-02,
        1.39606214e-04, -1.38764884e-02, -1.59546174e-02,  1.71408672e-02,
       -4.28702775e-03,  3.97856394e-03, -2.13087369e-02, -4.46565187e-04,
        9.97365732e-03, -5.33423969e-04, -7.81101780e-03, -1.03362948e-02,
        2.32493076e-02,  2.53358949e-03,  1.06881596e-02, -2.75757611e-02,
        3.05546052e-03,  1.20836301e-02,  2.55078729e-03, -2.64085666e-03,
        1.18886549e-02,  1.65476985e-02, -1.50255878e-02, -1.35924844e-02,
        6.30688807e-03,  2.13904008e-02,  1.28482061e-03,  2.58356091e-02,
        1.88110434e-02, -9.25006717e-03,  4.92773950e-03,  1.25913462e-02,
       -1.53622851e-02, -1.30425813e-02,  2.58008502e-02,  2.26189289e-02,
        9.28014237e-03,  1.91216785e-02,  1.08732004e-02, -6.55537192e-03,
        2.28530224e-02, -4.78427112e-03,  5.64280199e-03, -5.65334270e-03,
       -4.90860664e-04, -3.22095230e-02,  2.43367394e-05,  1.82267372e-02,
        6.36831298e-03,  2.40061134e-02,  1.80955902e-02,  1.81316794e-03,
        2.65917219e-02, -1.02234036e-02, -2.56279651e-02, -5.13049029e-03,
        1.09303920e-02, -1.27968295e-02,  9.69257485e-03,  1.76790189e-02,
        1.44254672e-03, -6.05858117e-03, -2.89139058e-02, -1.32559566e-02,
       -7.05092493e-03, -2.23880913e-03, -1.88185484e-03,  1.28575712e-02,
       -5.90165332e-03, -1.04621686e-02, -1.81798637e-02,  8.95336177e-03,
        8.05972796e-03, -1.66233480e-02,  2.88753752e-02,  2.69940961e-02,
        1.93423722e-02, -4.08307975e-03,  4.58932435e-03, -1.18301436e-02,
       -1.46909561e-02, -1.16073724e-03,  2.01492710e-03, -1.39601883e-02,
        1.46909989e-02,  7.47408019e-03,  1.28439926e-02,  5.91197424e-03,
        6.19409233e-03, -1.85675826e-02,  1.62065178e-02,  3.00651789e-02,
        9.27971769e-03, -1.05103394e-02,  5.09447977e-03, -1.12338341e-04,
        1.16246771e-02,  4.33592238e-02,  6.43806858e-03, -3.87382042e-03,
       -2.10319571e-02, -3.44374441e-02,  1.10652894e-02, -6.04627375e-03,
       -1.20555256e-02,  2.49228980e-02, -6.58341497e-03, -1.27568729e-02,
        6.28885254e-03,  1.43585894e-02,  1.13199186e-02,  1.54524483e-02,
       -1.88142527e-03,  1.09161260e-02,  2.53680337e-04,  5.61841205e-03,
       -3.67084611e-03, -9.13179666e-03, -3.68264341e-03, -1.66544504e-03,
        5.78228896e-03,  1.98325142e-06, -2.71640904e-02,  3.18495966e-02,
        6.25977339e-03,  6.11360231e-03, -2.89459899e-02,  1.64688006e-02,
        6.17533736e-03,  1.75410472e-02,  2.47646496e-02, -1.63277320e-03,
       -1.83101837e-03,  1.62396356e-02, -1.26726767e-02, -1.03971874e-02,
       -1.69838425e-02,  1.63755901e-02,  1.68589856e-02,  7.78541202e-03,
       -5.80566237e-04,  4.29578824e-03, -1.49363782e-02, -1.92048121e-02,
       -4.44946159e-03,  2.57898495e-02, -2.06551533e-02, -5.76212583e-03],
      dtype=float32)

#### **get_similarity_score:**

In [ ]:
# Example

source = 'वसई तालुक्यातील 15 ग्रामपंचायतींसाठी निवडणूक होत आहे.'
# English Translation:
# 'Elections are being held for 15 gram panchayats in Vasai taluka.'
sentences = ['वसई तालुक्यातील 15 ग्रामपंचायतींसाठी निवडणूक होत आहे.', '28 ते 2 डिसेंबर पर्यंत उमेदवारी अर्ज भरण्याची वेळ असून आज आणि उध्या दोन दिवसात ऑफलाईन उमेदवारी अर्ज भरण्यासाठी 5 वाजेपर्यंत वेळ वाढवून दिला आहे.', 'त्यामुळे आज दिवसभरात उमेदवारांनी आपले उमेदवारी अर्ज भरण्यासाठी तहसील कार्यालयात गर्दी केली होती.']
# English Translation:
# [
# 'Elections are being held for 15 gram panchayats in Vasai taluka.',
# 'The time to fill candidature form is from 28th to 2nd December and the time for filling offline candidature form has been extended till 5 pm today and tomorrow.',
# 'Therefore, candidates thronged the tehsil office to fill their nomination forms today.'
# ]

modelSimilarity.get_similarity_score(source, sentences)

array([0.99999994, 0.24566299, 0.30104446], dtype=float32)

Optional Parameter(s):
* **as_dict** (True, False) in boolean - Default: False
  * Used to define the print type

In [ ]:
modelSimilarity.get_similarity_score(source, sentences, as_dict = True)

{'वसई तालुक्यातील 15 ग्रामपंचायतींसाठी निवडणूक होत आहे.': 0.99999994,
 '28 ते 2 डिसेंबर पर्यंत उमेदवारी अर्ज भरण्याची वेळ असून आज आणि उध्या दोन दिवसात ऑफलाईन उमेदवारी अर्ज भरण्यासाठी 5 वाजेपर्यंत वेळ वाढवून दिला आहे.': 0.24566299,
 'त्यामुळे आज दिवसभरात उमेदवारांनी आपले उमेदवारी अर्ज भरण्यासाठी तहसील कार्यालयात गर्दी केली होती.': 0.30104446}

***
***

# Extras:

In [ ]:
# import
from mahaNLP.sentiment import SentimentAnalyzer

# create a model object
model = SentimentAnalyzer()

# function - getPolarityScore
# It gives the sentiment score in the range of 0 to 1
# for 3 poles: Neutral, Positive, Negative

# example:
text = 'दिवाळीच्या सणादरम्यान सगळे आनंदी असतात.'
# English Translation:
# 'Everyone is happy during Diwali festival.'

polarscore = model.get_polarity_score(text)
print(polarscore)

      label     score
0  Positive  0.995338

In [ ]:
# import
from mahaNLP.model_repo import MaskFillModel

# create a model object
# parameter:
# model name
model = MaskFillModel('marathi-bert-v2')

# function - predictMask
# It predictes the masked token

text = 'मी महाराष्ट्रात [MASK].'
# English Translation:
# 'I in Maharashtra [MASK]'

# parameters:
# text, details of prediction, print in dict

model.predict_mask(text, details = "all", as_dict = False)

      score  token token_str                 sequence
0  0.465607   1155       आहे     मी महाराष्ट्रात आहे.
1  0.079688  92222    राहणार  मी महाराष्ट्रात राहणार.
2  0.074000   1826      नाही    मी महाराष्ट्रात नाही.
3  0.050423   1617       ##च        मी महाराष्ट्रातच.
4  0.043737  62560     राहतो   मी महाराष्ट्रात राहतो.

In [ ]:
# import
from mahaNLP.datasets import *

# loadDatasets: This loads the dataset into our variable
# parameter:
# name of the dataset

dataset = load_datasets('mahaSent')